/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.DS_Store
composer.lock
/public/assets
/public/apidoc
/apidoc
apidoc.json
.phpunit.result.cache
/.vscode
/nbproject
/tests/coverage
config/debugbar.php
docker-compose.yml
